@model Result

@{ Layout = null; }

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Routing</title>
    <link rel="stylesheet" href="~/dist/bootstrap/css/bootstrap.css" />
</head>
<body class="m-1 p-1">

    <table class="table table-bordered table-striped table-sm">
        <tr>
            <th>
                Controller:
            </th>
            <td>
                @Model.Controller
            </td>
        </tr>
        <tr>
            <th>
                Action:
            </th>
            <td>
                @Model.Action
            </td>
        </tr>
        @foreach (var key in Model.Data.Keys)
        {
            <tr>
                <th>
                    @key:
                </th>
                <td>
                    @Model.Data[key]
                </td>
            </tr>
        }
    </table>

    <a asp-action="Index" asp-controller="Home">Кликни меня!</a>
    <br />
    <a asp-action="Index" asp-controller="Admin">Кликни меня для админки!</a>
    <br />
    <a asp-action="Index" asp-controller="Customer">Кликни меня для кустомер-контроллера</a>
    <br />
    <a asp-action="CustomVariable" asp-controller="Home" asp-route-id="Hello">Кликни меня для ХЕЛЛОУ</a>
    <br />
    <a asp-action="CustomVariable" asp-controller="Home" asp-route-id="Hello" asp-protocol="https" asp-host="localhost:5001" asp-fragment="MyFragment">Полностью сгенерированный URL</a>
    <br />
    <a asp-route="out">Исходящий URL специфической генерации</a>
    <br />
    @Html.ActionLink("Ссылка Html.ActionLink", "CustomVariable", "Home", new { id = "ActionLink" })
    <br />
    @Url.Action("CustomVariable", "Home", new { id = "ActionLink2" })
    <br />
    <a asp-action="Index" asp-controller="Home" asp-area="Admin">Adminka</a>

</body>
</html>